.header{
    background-color:rgb(235, 235, 235)
}

.leftColumn{
    background-color: rgb(235, 235, 235)
}

.rightColumn{
    background-color: rgb(27, 31, 34)
}

.inputTextStyle{
    color: white
}

.gridLable{
    text-align:right;
    padding-right: 35px;
}

.light .gridLable{
    color:black;
}
.dark .gridLable{
    color: white;
}

.gridTitle{
    font-weight: bold;
    text-align:right;
    padding-right: 35px;
}

.light .gridTitle{
    color:black;
}
.dark .gridTitle{
    color:white;
}

