body{
    background-repeat: repeat-y;
    background-size: 24% 1px;
    background-color: red;
}

/* Common */
.btm-foot{
    border-top: 1px solid #ccc;
}

.lang-tab.MuiTab-root{
    text-transform:capitalize;
    font-weight:bold;
    border-bottom: 2px ridge rgba(255, 255, 255, 0.4);;
}

/* Light theme */
body.light {
    background-image: url(../src/assets/layout/leftlayout.png);
}
.light .btm-foot{
    background: white;
}

.light .btm-btn{
    margin: 2%;
}

/* dark theme */
body.dark {
    background-color: #1b1f23;
    background-image: url(../src/assets/layout/leftlayoutdark.png);
    color: #d1d2d3;
}

.dark .btm-btn {
    background: #6a6e73;
    border-color: #262a2d;
    color: #fff;
    margin: 2%;
}
.dark .btm-btn:hover {
    background: #32373b;
    border-color: #32373b;
}

.dark .btm-foot{
    background:#1b1f23;
}

.dark .MuiFormLabel-root.Mui-focused{
    color: #dad4d4;
}

.dark .MuiInput-underline:after{
border-bottom: 1px solid #f50057;
}

.dark .MuiInput-underline:before{
    border-bottom: 1px solid gray;
    }

.dark .MuiTypography-root{
    color: white;
}

.dark input{
    color: white;
}
.dark .MuiFormLabel-root{
    color:#9492928a;
}
.dark .MuiTypography-body1{
    color: white;
}
.dark .MuiButton-label{
    color: white;
}
.dark .MuiListItemIcon-root {
    color: white;
}
.dark .MuiTypography-gutterBottom{
    color: white;
}